@import "_style_guide";

.area-width{
    width: 100%;

    //平板版
    @media screen and(min-width: 768px) {
        width: 100%;
    }

    //電腦版
    @media screen and(min-width: 1200px) {
        width: 85%;
    }
}

// 寬高區域

.h-500{
    height: 500px;
}

.pt-100{
    padding-top: 100px;
}

.pt-200{
    padding-top: 200px;
}

.pt-300{
    padding-top: 300px;
}

.pt-400{
    padding-top: 400px;
}

.pt-500{
    padding-top: 500px;
}

.pb-150{
    padding-bottom: 150px;
}

.pr-100{
    padding-right: 100px;
}

.z-3{
    z-index: 3;
}

.z-4{
    z-index: 4;
}

.w-90{
    width: 90%;
}

// 照片區域

.pct-1{
    width: 100%;
    height: 150px;
    background-image: url(../img/03about/01.png);

    //平板版
    @media screen and(min-width: 768px) {
        width: 100%;
        height: 340px;
    }

    //電腦版
    @media screen and(min-width: 1200px) {
        width: 50%;
        height: 500px;
    }
}

.pct-2{
    width: 75%;
    height: 400px;
    background-image: url(../img/03about/02.jpg);
}

.pct-3{
    width: 740px;
    height: 530px;
    background-image: url(../img/03about/02.jpg);
}

.pct-4{
    width: 100%;
    height: 150px;
    background-image: url(../img/03about/02.jpg);
    //平板版
    @media screen and(min-width: 768px) {
        width: 100%;
        height: 400px;
    }

    //電腦版
    @media screen and(min-width: 1200px) {
        width: 1040px;
        height: 663px;
    }
}

.pct-5{
    width: 666px;
    height: 410px;
    background-image: url(../img/03about/222.jpg);
}

.pct-6{
    width: 100%;
    height: 150px;
    background-image: url(../img/03about/222.jpg);
    //平板版
    @media screen and(min-width: 768px) {
        width: 100%;
        height: 340px;
    }

    //電腦版
    @media screen and(min-width: 1200px) {
        width: 800px;
        height: 500px;
    }
}

// 黃色標籤
.yellow-bar{
    height: 600px;
    width: 113px;
}

// position
.writing-mode{
    writing-mode: vertical-rl;
}

.text-bottom{
    bottom: 0px;
}

.text-bottom-50{
    bottom: 50px;
}

.text-right{
    right: 0;
}

.text-left{
    left: 0;
}

.text-top{
    top: 0;
}

.top{
    top: -15px;
    //平板版
    @media screen and(min-width: 768px) {
        top: -20px;
    }
    //電腦版
    @media screen and(min-width: 1200px) {
        top: 0;
    }
}

.golden-bar{
    width: 50%;
    height: 30px;

    //平板版
    @media screen and(min-width: 768px) {
        width: 50%;
        height: 40px;
    }

    //電腦版
    @media screen and(min-width: 1200px) {
        width: 25%;
        height: 120px;
    }
}


// --------------------------------------------------
// ==================================================
.about-h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 900;
    padding: 1.2rem 0;
    margin: 0;

    //平板版
    @media screen and(min-width: 768px) {
        font-size: 3.0rem;
    }

    //電腦版
    @media screen and(min-width: 1200px) {
        font-size: 3.33rem;
    }

}


body {
    margin: 0;
    padding: 0;

    

    //rioj區寬&padding
    .rioja-weight{
        width: 100%;

        //平板版
        @media screen and(min-width: 768px) {
            width: 100%;
        }

        //電腦版
        @media screen and(min-width: 1200px) {
            width:100%;
            padding-top: 23px;
        }
    }

    //大葡萄
    .purple-circle{
        width: 600px;
        height: 600px;
        background-image: url(../img/03about/07-葡萄切.svg);
    }


    .line-left{
        left: -50%;
        width: 100%;
        height: 1px;
    }
    
    .wine-img{
        height: 500px;
        background-image: url(../img/03about/01.jpg);
    }
    
    .purple{
        width: 350px;
        height: 300px;
        right: -150px;
        top: -200px;
        background-image: url(../img/03about/08.png);
    }
    

    .golden-line{
        height: 2px;
        width: 85%;
        //平板版
        @media screen and(min-width: 768px) {
            width: 35%;
        }
 
         //電腦版
        @media screen and(min-width: 1200px) {
            width: 75%;
        }
    }

    //酒莊特色的title
    .special-title{
        top: -60px;
        left: 10px;

        //平板版
        @media screen and(min-width: 768px) {
            top: -100px;
            left: -40px;
        }
 
         //電腦版
        @media screen and(min-width: 1200px) {
            left: 0;
            top: -150px;
        }

        .writing-mode{
            writing-mode: vertical-lr;
        }
    }

    .special-margin{
        margin-top: 0px;

        //平板版
        @media screen and(min-width: 768px) {
            margin-top: 100px;
        }
 
         //電腦版
        @media screen and(min-width: 1200px) {
            margin-top: 50px;
        }
    }
    
}

//黃標題物件
.golden-height{
    height: 60px;
    

    //平板版
    @media screen and(min-width: 768px) {
        height: 80px;
    }

    //電腦版
    @media screen and(min-width: 1200px) {
        height: 120px;
        top: 0;
    }

    //h2字大小
    h2{
        font-size: 18px;
        font-weight: 400;
        //平板版
        @media screen and(min-width: 768px) {
            font-size: 1.44rem;
            font-weight: 900;
        }

        //電腦版
        @media screen and(min-width: 1200px) {
            font-size: 1.44rem;
            font-weight: 900;
        }
    }
    .golden-left{
        left: -100px;
    }

    //黃色條尺吋
    .golden-bar-size{
        width: 50%;
        height: 50%;

        //平板版
        @media screen and(min-width: 768px) {
            width: 50%;
            height: 50%;
        }

        //電腦版
        @media screen and(min-width: 1200px) {
            width: 350px;
            height: 100px;
        }
    }

    //標題靠左
    .golden-left-padding{
        
        //平板版
        @media screen and(min-width: 768px) {
            
        }

        //電腦版
        @media screen and(min-width: 1200px) {
            padding-left: 200px;
        }
    }

    //標題靠右
    .golden-right-padding{
            
        //平板版
        @media screen and(min-width: 768px) {
            padding-right: 25px;
        }

        //電腦版
        @media screen and(min-width: 1200px) {
            padding-right: 200px;
        }
    }
}